*{
		margin: 0px;
		padding: 0px;
}

#mainlogo{
	display: block;
	margin-top: 150px;;
	margin-left: auto;
	margin-right: auto;
	width: 40%;;
	width: 400px;
	height: 150px;

}

.Intro{
	color: black;
	font-size: 16px;
	text-align: center;
	margin: 30px 0px 30px 0px;

}

#searchBar{
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: : auto;
	text-align: center;
	font-family: arial;
	transition: 0.4s;
}

#searchBar: hover > #searchButton{
margin-top: 10px;
margin-left: 10px;
width:700px; height:40px;
}

#searchButton{
	margin-top: 5px;
	margin-left: 5px;
	width:60px; height:40px;
}

#storeButtons{ /* style for different vendor buttons*/
	text-align: center;
	color: black;
	margin-right: 30px;
}

input[type=checkbox], input[type=radio] { /*checkboxs padding*/
	margin: 30px 3px 10px 20px !important;
}

#sidebar{
	position: fixed;
	width: 280px;
	height: 100%;
	background: #151719;
	color: white;
	font-size: 14px;
	padding-left: 10px;
}

#sidebar ul li {
	color: rgba(230, 230, 230, 0.9);
	list-style: none;
	padding: 15px 10px 15px 10px;
	border-bottom: 1px solid rgba(100, 100, 100, 0.3);
}
