#mainlogo{
	display: block;
	margin-top: 150px;;
	margin-left: auto;
	margin-right: auto;
	width: 40%;;
	width: 400px;
	height: 150px;

}

.Intro{
	color: black;
	font-size: 16px;
	text-align: center;
	margin: 30px 0px 30px 0px;

}

#searchBar{
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: : auto;
	text-align: center;
	font-family: arial;
}

/* hover amination option
margin-top: 10px;
margin-left: 10px;
width:60px; height:50px;
}
*/

#searchButton{
	margin-top: 5px;
	margin-left: 5px;
	width:60px; height:40px;
}

#storeButtons{ /* style for different vendor buttons*/
	text-align: center;
	color: black;
	margin-right: 30px;
}

input[type=checkbox], input[type=radio] { /*checkboxs padding*/
	margin: 30px 3px 10px 20px !important;
}

/*woekowe*/
