#mainlogo{
	display: block;
	margin-top: 150px;;
  margin-left: auto;
  margin-right: auto;
  	width: 40%;;
	width: 400px;
	height: 150px;
	
}

#searchBar{
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	text-align: center;  
  	font-family: arial;	

}

#searchButton{
	margin-top: 10px;
	margin-left: 10px;
	width:60px; height:50px;
}

#storeButtons{
	text-align: center;
	color: black;
	margin-right: 30px;
}
input[type=checkbox], input[type=radio] {
	margin: 10px 3px 10px 20px !important;
}
