*{
	font-family: work-sans;
	margin: 0px;
	padding: 0px;
}

.topBar{
	justify-content: center;
	height: 80px;
	background: white;
	position: fixed;
	display: inline-flex;
	font-family: arial;
	border-bottom: 2px solid grey;
	margin-bottom: 50px;
}

.topBar .mainlogo{
		margin-top: 25px;
		width: 70%;;
		width: 160px;
		height: 60px;
		display: inline-flex;
}

#searchButton{
	margin-top: 24px;
	margin-left: 5px;
	margin-right: 5px;
	width:60px; height:40px;
}

#storeButtons{ /* style for different vendor buttons*/
	color: black;
}

input[type=checkbox], input[type=radio] { /*checkboxs padding*/
	margin: 10px 3px 10px 15px !important;
}

.sideBar{
	width: 280px;
	margin-top: 100px;
	height: 100%;
	justify-content: center;
	background: #151719;
	position: fixed;
}

.sideBar ul li{
	background: #151719;
	color: rgba(230, 230, 230, 0.9);
	list-style: none;
	padding: 10px 10px;
	border-bottom: 1px solid rgba(100, 100, 100, 0.3);
}

.grid-container{
	padding-top: 110px;
	padding-left: 295px;
	display: flex; flex-wrap: wrap; /*Fixed boxes */

}

.grid-item{
	border: 2px solid grey;
  border-radius: 10px;
	border-color: grey;
	margin: 10px;
	width: 320px;
	height: 450px;
	text-align: center;
	cursor: pointer;
}

.itemImages{
	object-fit: scale-down;
	height: 50%;
	width: auto;
	margin-top: 20px;
	margin-bottom: 10px;
}

.imgText{
	height: 100px;
	font-size: 15px;
	padding: 10px;

}

.footer{
	text-align: right;
	background: orange;
	height: 100px;
	width: 100%
}
