*{
	margin: 0px;
	padding: 0px;
}

body{
	margin-top: 100px;
}

.topBar{
	justify-content: center;
	height: 80px;
	background: #ffff;
	background: white;
	position: fixed;
	display: inline-flex;
	font-family: arial;
	border-bottom: 2px solid grey;
	margin-bottom: 50px;
}

.topBar .mainlogo{
		margin-top: 25px;
		margin-left: 60px;
		display: block;
		width: 40%;;
		width: 160px;
		height: 60px;
		display: inline-flex;
}

#searchButton{
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	width:60px; height:40px;
}

#storeButtons{ /* style for different vendor buttons*/
	color: black;
}

input[type=checkbox], input[type=radio] { /*checkboxs padding*/
	margin: 10px 3px 10px 15px !important;
}

.sideBar{
	position: fixed;
	width: 280px;
	margin-top: 100px;
	height: 100%;
	background: #151719;
	position: fixed;
}

.sideBar ul li{
	background: #151719;
	color: rgba(230, 230, 230, 0.9);
	list-style: none;
	padding: 10px 10px;
	border-bottom: 1px solid rgba(100, 100, 100, 0.3);
}

.grid-container{
	display: grid-inline-block;
	margin-left: 300px;
	padding-top: 115px;
}

.grid-item{
	border: 2px solid grey;
  border-radius: 10px;
	border-color: grey;
	display: inline-flex;
	margin-right: 15px;
	margin-bottom: 15px;
	width: 300px;
	height: 400px;
}

.itemImages{
	text-align: center;
	height: 70%;
	width: auto;
}


footer{
	height: 150px;
	width: 100%
	background-color: #151719;
}
